#chat3 .form-control {
  border-color: transparent;
  }
  
  #chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -.75rem;
  }

  #scollable ,#conversationsWindow{
      overflow-y: scroll;
      overflow-x: hidden;
  }
  #conversationsWindow{
      overflow-x:hidden;
      overflow-y:visible;
      height:500px;
  }


  .form-control:focus{
    border: 1px solid #1977cc !important;
    outline: 0;
    box-shadow: none !important;
  }
#feedback-form-wrapper #floating-icon>button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: rotate(-90deg) translate(50%, -50%);
  transform-origin: right;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"] {
  display: none;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"]~span {
  cursor: pointer;
}

#feedback-form-wrapper .rating-input-wrapper input[type="radio"]:checked~span {
  background-color: #4261dc;
  color: #fff;
}

#feedback-form-wrapper .rating-labels>label {
  font-size: 14px;
  color: #777;
}

.bi-star-fill{
  color : orange
}
#rating{
  display:flex;
  justify-content: space-evenly;
}

