/*tilte heading*/
.title{
    color:#483d8b;
   /* text-shadow:0 1px 1px rgba(82, 82, 82, 0.075), 0 0 25px #483d8b;*/
    font-family: impact;
    text-decoration: none;
}


button:hover{
    color:white;
    outline: none;
    
}
#ok{
    border-color: #483d8b;
    box-shadow: transparent;
}
.btn{
    border-color:#483d8b;
    background-color:#483d8b;
    border-color:#483d8b;
    color: white;
    border-radius: 5px;
    
}
option{
    box-shadow:inset 0 1px 1px rgba(82, 82, 82, 0.075), 0 0 8px #483d8b; 
    background-color:#483d8b;
   border-width: 0px;
    color: white;
    border-radius: 5px;
}
.active{
    box-shadow:inset 0 1px 1px rgba(82, 82, 82, 0.075), 0 0 8px #483d8b; 
    background-color:#483d8b;
   border-width: 0px;
    color: white;
    border-radius: 5px;
}
#x{
    margin-right: 4rem;
}
.form-control:focus {
    border-color: #483d8b;
    box-shadow: inset 0 1px 1px rgba(82, 82, 82, 0.041), 0 0 8px #483d8b;
  }
::placeholder { 
    color:#483d8b;
    opacity: 1;
  }

  .btn:focus {
    border-color: #483d8b;
    box-shadow: inset 0 1px 1px rgba(82, 82, 82, 0.075), 0 0 8px #483d8b;
}

#y .active a{
    color: yellow;
}
#ab{
    color: #483d8b;
}

/* #forshadow{
    box-shadow: 5px 10px 18px #888888;
} */

#x3{
    
    color: #483d8b;
}
.form-check-input{
    color: #483d8b;
}