body{
    font-family: 'Open Sans', sans-serif;
}
#signUpForm {
    margin: 30px auto;
}
#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}
#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #1977cc;
}
#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #d5efed;
    border-radius: 50%;
    border: 3px solid #ecf5f4;
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: #88c8ff;
    border: 3px solid #b3ddff;
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #1977cc;
    border: 3px solid #b3ddff;
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: #88c8ff;
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #1977cc;
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm input{
    padding: 10px 15px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
#signUpForm select{
    padding: 10px 15px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
#signUpForm select:focus{
    border: 1px solid #1977cc;
    outline: 0;
    box-shadow: none !important;
}
#signUpForm textarea{
    padding: 10px 15px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
#signUpForm textarea:focus{
    border: 1px solid #1977cc;
    outline: 0;
    box-shadow: none !important;
}
#signUpForm input:focus{
    border: 1px solid #1977cc;
    outline: 0;
}
#signUpForm input.invalid {
    border: 1px solid #ffaba5;
}
#signUpForm .step {
  display: none;
}
#signUpForm .form-footer{
    overflow:auto;
    gap: 20px;
}